@charset "UTF-8";

:root{
    --cor1: #1FAFBF; 
    --cor2: #F2BE22;
    --cor3: #F2CB57;
    --cor4: #D9961A;
    --cor5: #0D0D0D;
}

body{
    background-color: var(--cor5);
}

header img{
    width: 150px;
}